# Python cache files
*.pyc

# IDE-specific files
*.tmproj

# Ignore any roles that might exist here
roles/*

# Ignore all files related to virtualenv
bin/*
lib/*
include/*

# Ignore all files related to distribute/pip/etc.
dist/*
build/*
mac/*
*.egg-info
.Python

# Ignore all hidden files that aren't git related
.*
!.gitignore
!.gitmodules

